@import url(reset.css);
html{
    font-size: 62.5%;
}
body{
    margin: 1%;
}

table{
    font-size: 1.5rem;
    border: 1px solid #000;
}
th{ font-weight: bold;}

td,th{
    text-align: center;
    min-height: 30px;
    border: 1px solid #000;
    min-width: 100px;
}

header{
    height: 10%;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2%;
    border-bottom: 1px solid #000;
}

nav{
    float: left;
    width: 20%;
    border-right: 1px solid #000;
}

article{
    font-size: 1.5rem;
    float: right;
    width: 78%;
    text-align: left;
}
b{
    font-weight: bold;
}
input{
    width: 60px;
    margin: 2% auto;
}

.line{
    width: 0.1rem;
    height: 100%;
    background: #000;
    margin: 0 1rem;   
    display: block;
}
.nav{
    margin: 0.5rem auto;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 0.2rem;
    display: block;
}
.nav:hover{
    background-color: #000;
    color: #fff;
    border-color: #fff;
    cursor: pointer;
}
.guzior{
    margin: auto 0;
}